$primary: #293B29;

html, body{
  margin: 0;
  padding: 0;
  background-color: $primary;
}
.app{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 1280px;
  height: 800px;
  text-align: center;
  position: relative;
}
#clock{
  margin-top: 150px;
  margin-bottom: 150px;
}
#hour, #min, #sec{
  position: absolute;
}
#min{
  bottom: 399px;
  left: 636px;
  transform-origin: center 92px;
}
#hour{
  bottom: 399.2px;
  left: 640px;
  transform-origin: left center;
}
#sec{
  top: 397px;
  left: 633.3px;
  transform-origin: center top;
}